body {
    background-image: url(/images/bg-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    backdrop-filter: blur(5px);
}

.btn:focus,
.btn:active {
    outline: none !important;
    box-shadow: none !important;
}

.navbar-toggler:focus,
.navbar-toggler:active {
    outline: none !important;
    box-shadow: none !important;
}

.form-control:focus,
.form-control:active {
    outline: none !important;
    box-shadow: none !important;
}

.nav-i {
    padding: 0 1.5rem 0 0;
    font-size: 1.3rem;
    font-weight: 550;
}
.nav-i > a:hover {
    border-bottom:2px solid white;
}
.nav2 {
    flex-direction: row;
}

@media screen and (min-width: 1300px) {
    .upper-nav {
        padding-left: 10rem;
        padding-right: 10rem;
    }
}

@media screen and (max-width: 900px) {
    .nav1 {
        text-align: center;
    }
}


.main-div{
    background-color: rgba(207, 219, 229, 0.215);
}

.second-div{
    padding:1rem 5rem;
}

.city-data{
    font-size:1.5rem;
    padding: 1rem 2rem;
}

.weather-icon{
    padding: 2rem 2rem;
    font-size: 2rem;
}
.weather-icon img{
    height: 180px;
    width: 180px;
}

.weather-data{
    padding: 1rem 2rem;
    font-size:1.5rem;
}

.weather-data p{
    margin: 0 !important;
}

.weather-status{
    padding: 2rem 1rem;
}